@page
@model LoginModel

@{
    Layout = "~/Areas/Identity/Pages/_AuthenticationLayout.cshtml";
}
<p class="login-card-description">Sign into your account</p>
<form id="account" method="post">
    <div class="form-group">
        <label asp-for="Input.Email" class="sr-only">Email</label>
        <input type="email" asp-for="Input.Email" id="email" class="form-control" placeholder="Email address">
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="form-group mb-4">
        <label asp-for="Input.Password" class="sr-only">Password</label>
        <input type="password" asp-for="Input.Password" id="password" class="form-control" placeholder="***********">
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label asp-for="Input.RememberMe">
                <input asp-for="Input.RememberMe" />
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
    </div>
    <input name="login" id="login" class="btn btn-block login-btn mb-4" type="submit" value="Login">

</form>
@{
    if ((Model.ExternalLogins?.Count ?? 0) == 0)
    {
    }
    else
    {
        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <input name="provider" id="login" class="btn btn-block login-btn mb-4" type="submit" value="@provider.Name"  title="Log in using your @provider.DisplayName account">
                        @*<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>*@
                    }
                </p>
            </div>
        </form>
    }
}
<a asp-page="./ForgotPassword" class="forgot-password-link">Forgot password?</a>
<p class="login-card-footer-text">Don't have an account? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="text-reset">Register here</a></p>


@*<div class="row" style="margin-left:50px; margin-top:50px;">
    <div class="col-md-4 col-md-offset-2">
        <section>
            <form id="account" method="post">
                <h4>Use a local account to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>*@
@*<div class="col-md-6 col-md-offset-2">
    <section>
        <h4>Use another service to log in.</h4>
        <hr />*@

@*</section>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
